.index-gallery-wrap
  .index-gallery
    - if @page.first_photo_url
      = image_tag @page.first_photo_url, width: 300, height: 400
    - if @page.second_photo_url
      = image_tag @page.second_photo_url, width: 300, height: 400
    - if @page.third_photo_url
      = image_tag @page.third_photo_url, width: 300, height: 400