<p>
  <a href="http://maps.2gis.ru/#/?history=project/ulyanovsk/center/48.389222931173,54.307657170544/zoom/15/state/widget/id/7741090140527430/firms/7741090140527430" id="firmsonmap_biglink">Перейти к большой карте</a>
  <script charset="utf-8" type="text/javascript" src="http://firmsonmap.api.2gis.ru/js/DGWidgetLoader.js"></script>
  <script charset="utf-8" type="text/javascript">
      new DGWidgetLoader({
          "borderColor":"#a3a3a3","width":"500","height":"300",
          "wid":"2fb1dc9f540f7132772eb7799cb9ac7f",
          "pos":{"lon":"48.389222931173","lat":"54.307657170544","zoom":"15"},
          "opt":{"ref":"hidden","card":[""],"city":"ulyanovsk"},
          "org":[{"id":"7741090140527430","hash":"ceffqa34461IJ1HB87A2uvgc93150J344d2e7712082AA615A45469GA1J0I6604c"}]
      });
  </script>
</p>
