.hot
  %h3 Горячие предложения

  .items
    .item
      = image_tag asset_path('sales/stellazh-ecollin.jpg'), class: 'ecollin'
      %span.sale.sale35
      %h4 Стеллаж белый "Ecolin", 5 полок
      -#.article Артикул: KLO-A-60L
      .cost 4267 руб.
    .item
      = image_tag asset_path('sales/korzinka.jpg'), class: 'korzinka'
      %span.sale.sale35
      %h4 Корзинка покупательская, 20л.
      -#.article Артикул: KLO-A-60L
      .cost 110 руб.
