.navbar.navbar-fixed-top.custom
  .navbar-inner
    .container
      .span3
        %a.btn.btn-navbar(data-target=".nav-collapse" data-toggle="collapse")
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        = link_to '', root_path, class: 'brand'
      .span5
        %ul.nav.nav-collapse
          %li= link_to "О компании", page_path(:about)
          -#%li= link_to "Контакты", contacts_path
          %li.last= link_to "Обратная связь", new_question_path
        %ul.nav.nav-collapse(style="margin-left:150px")
          -#%li= link_to "Наши клиенты", clients_path
          -#%li= link_to "Прайс-лист", page_path(:price)
        -#%ul.nav.nav-collapse
          -#%li= link_to "Портфолио партнеров", page_path(:partners)
      .span3
        .info
          %p.email info@mdmstandart.ru
          %p Звоните нам (Поволжье)
          %p.phone
            %span.code (8422)
            %span.number 794 597
          = link_to 'Оставьте номер и мы вам перезвоним', new_question_path, class: 'feedback'
